<% content_for :title, "Редактирование выдачи" %>

<h1>Редактировать запись</h1>


<%= simple_form_for(@extradition) do |f| %>

  <div class="form-inputs">
    <%= f.association :subscriber, label: 'Абонент' %>
    <%= f.association :book, label: 'Книга' %>
    <%= f.input :extradition_date, as: :string, input_html: {type: :date}, label: 'Дата выдачи' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить изменения' %>
  </div>

<% end %>
<br>
<%= link_to 'Назад', extraditions_path %>
