<% content_for :title, "Добавить выдачу" %>

<h1>Выдачи</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table  library-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="library-filter__header"> Выберите библиотеку</h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag new_extradition_path,:class => "search-form", :method => "get" do %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, new_extradition_path(library_id: library.id)  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries, :class => "pagination  pagination--library" %>

      <table class="table  subscriber-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="subscriber-filter__header"> Абоненты</h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag new_extradition_path,:class => "search-form", :method => "get" do %>
                <%= text_field_tag :search_sub, params[:search_sub], :class => "form-control",:placeholder => "Имя абонента" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @subscribers.each do |subscriber| %>
          <tr>
            <td><%= link_to subscriber.name, new_extradition_path(subscriber_id: subscriber.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <h4>Добавить выдачу</h4>
          <tr>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td class="form-handler"><%= render 'form', extradition: @extradition %></td>
            </tr>

        </tbody>
      </table>
      <%= link_to 'Назад', extraditions_path %>
    </div>
  </div>
</div>
