
<h4>Идентификатор абонента: <br><%= @extradition.subscriber_id%></h4>
<br>
<h4>Идентификатор книги: <br><%= @extradition.book_id%></h4>
<br>
<h4>Дата выдачи: <br><%= @extradition.extradition_date%></h4>

<%= link_to 'Редактировать', edit_extradition_path(@extradition) %> |
<%= link_to 'Назад', extraditions_path %>
