<% content_for :title, "Просмотр выдачи" %>

<h4>Название книги: <br><%= @extradition.book.name%></h4>
<br>
<h4>Идентификатор книги: <br><%= @extradition.subscriber.name%></h4>
<br>
<h4>Дата выдачи: <br><%= @extradition.extradition_date%></h4>
<br>
<h4>Дата возврата: <br><%= @extradition.return_date%></h4>
<br>
<%= link_to 'Редактировать', edit_extradition_path(@extradition) %> |
<%= link_to 'Назад', extraditions_path %>
