<h1>Выдачи</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @extraditions.each do |extradition| %>
      <tr>
        <td>Идентификатор абонента: <br><%= extradition.subscriber_id %></td>
        <td>Идентификатор книги: <br><%= extradition.book_id %></td>
        <td>Дата выдачи: <br><%= extradition.extradition_date %></td>
        <td><%= link_to 'Показать', extradition %></td>
        <td><%= link_to 'Редактировать', edit_extradition_path(extradition) %></td>
        <td><%= link_to 'Удалить', extradition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить библиотеку', new_extradition_path %>
