<% content_for :title, "Редактирование библиотеки" %>

<h1>Редактировать запись</h1>

<%= simple_form_for(@library) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Наименование библиотеки'%>
    <%= f.input :number, label: 'Номер библиотеки'%>
    <%= f.input :address, label: 'Адрес библиотеки'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить изменения' %>
  </div>

<% end %>
<br>
<%= link_to 'Назад', libraries_path %>
