<% content_for :title, "Просмотр библиотеки" %>
<h1><%= @library.name%></h1>
<br>
<h4>Номер библиотеки: <br><%= @library.number%></h4>
<br>
<h4>Адрес библиотеки: <br><%= @library.address%></h4>
<br>


<%= link_to 'Редактировать', edit_library_path(@library) %> |
<%= link_to 'Назад', libraries_path %>
