
<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name,  label: 'Наименование книги' %>
    <%= f.input :author,  label: 'Автор' %>
    <%= f.input :cipher, label: 'Шифр' %>
    <%= f.input :publishing_house, label: 'Издательство' %>
    <%= f.input :publishing_date, label: 'Год издания' %>
    <%= f.input :price, label: 'Цена' %>
    <%= f.association :library, label: 'Библиотека' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Добавить книгу' %>
  </div>

<% end %>
