<h1>Редактировать запись</h1>

<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name,  label: 'Наименование книги' %>
    <%= f.input :cipher, label: 'Шифр' %>
    <%= f.input :library_id,  label: 'Идентификатор библиотеки' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить изменения' %>
  </div>

  <% end %>

<%= link_to 'Назад', books_path %>
