<% content_for :title, "Книги" %>

<h1>Книги</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Библиотека</h4>
        </thead>

        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag( books_path,:class => "search-form", :method => "get") do %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, books_path(library_id: library.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries %>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Список книг</h4>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>Название книги: <%= book.name %></td>
              <td>Автор: <%= book.author %></td>
              <td><%= link_to 'Показать', book %></td>
              <td><%= link_to 'Редактировать', edit_book_path(book) %></td>
              <td><%= link_to 'Удалить', book, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Добавить книгу', new_book_path %>
    </div>
  </div>
</div>
