<% content_for :title, "Просмотр книги" %>

<h1><%= @book.name%></h1>
<br>
<h4>Автор: <br><%= @book.author%></h4>
<br>
<h4>Издательство: <br><%= @book.publishing_house%></h4>
<br>
<h4>Год издания: <br><%= @book.publishing_date%></h4>
<br>
<h4>Шифр: <br><%= @book.cipher%></h4>
<br>
<h4>Цена: <br><%= @book.price%></h4>
<br>
<h4>Библиотека: <br><%= @book.library.name%></h4>
<br>
<h4>Книга выдана <%= @book.issuances.count%> раз(а)</h4>
<br>
<%= link_to 'Редактировать', edit_book_path(@book) %> |
<%= link_to 'Назад', books_path %>
