<% content_for :title, "Выдачи" %>
<h1>Выдачи</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table  library-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="library-filter__header  library-filter__header--active"> Библиотека </h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag( issuances_path(library_id: params[:library_id], search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id]),:class => "search-form", :method => "get") do %>
                <%= text_field_tag :library_id, params[:library_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search_sub, params[:search_sub], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search_book, params[:search_book], :class => "form-control",:class => "hidden" %>
                <%= text_field_tag :subscriber_id, params[:subscriber_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, issuances_path(library_id: library.id, search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id], book_id: params[:book_id])  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries, :class => "pagination  pagination--library" %>

      <table class="table  subscriber-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="subscriber-filter__header  subscriber-filter__header--active"> Абонент</h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag issuances_path(library_id: params[:library_id], search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id]),:class => "search-form", :method => "get" do %>
              <%= text_field_tag :library_id, params[:library_id], :class => "form-control", :class => "hidden" %>
              <%= text_field_tag :search, params[:search], :class => "form-control", :class => "hidden" %>
              <%= text_field_tag :search_book, params[:search_book], :class => "form-control",:class => "hidden" %>
              <%= text_field_tag :subscriber_id, params[:subscriber_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search_sub, params[:search_sub], :class => "form-control",:placeholder => "Имя абонента" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @subscribers.each do |subscriber| %>
          <tr>
            <td><%= link_to "#{subscriber.name} #{subscriber.patronymic} #{subscriber.surname}", issuances_path(subscriber_id: subscriber.id, search: params[:search], search_sub: params[:search_sub], library_id: params[:library_id], book_id: params[:book_id]) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @subscribers, :class => "pagination  pagination--subscriber" %>

      <table class="table  book-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="book-filter__header  book-filter__header--active"> Книга</h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag issuances_path(library_id: params[:library_id], search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id]),:class => "search-form", :method => "get" do %>
              <%= text_field_tag :library_id, params[:library_id], :class => "form-control", :class => "hidden" %>
              <%= text_field_tag :search, params[:search], :class => "form-control", :class => "hidden" %>
              <%= text_field_tag :subscriber_id, params[:subscriber_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search_book, params[:search_book], :class => "form-control",:placeholder => "Название книги" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to "«#{book.name}» #{book.author}", issuances_path(subscriber_id: params[:subscriber_id], search: params[:search], search_sub: params[:search_sub], library_id: params[:library_id],book_id: book.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @books, :class => "pagination  pagination--book "%>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Список выдач</h4>
        </thead>

        <tbody>
          <% @issuances.each do |issuance| %>
            <tr>
              <td>Абонент: <%= "#{issuance.subscriber.name} #{issuance.subscriber.patronymic} #{issuance.subscriber.surname}" %></td>
              <td>Книга: <%= "«#{issuance.book.name}» #{issuance.book.author}" %></td>
              <td><%= link_to 'Показать', issuance %></td>
              <td><%= link_to 'Редактировать', edit_issuance_path(issuance) %></td>
              <td><%= link_to 'Удалить', issuance, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'Добавить выдачу', new_issuance_path %>
    </div>
  </div>
</div>
