<% content_for :title, "Добавить выдачу" %>

<h1>Выдачи</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table  library-filter">
          <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4 class="library-filter__header"> Выберите библиотеку</h4>
        </thead>
        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag( new_issuance_path(library_id: params[:library_id], search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id]),:class => "search-form", :method => "get") do %>
                <%= text_field_tag :library_id, params[:library_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search_sub, params[:search_sub], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :subscriber_id, params[:subscriber_id], :class => "form-control", :class => "hidden" %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, new_issuance_path(library_id: library.id, search: params[:search], search_sub: params[:search_sub], subscriber_id: params[:subscriber_id])  %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries, :class => "pagination  pagination--library" %>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <h4>Добавить выдачу</h4>
          <tr>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td class="form-handler"><%= render 'form', issuance: @issuance %></td>
            </tr>

        </tbody>
      </table>
      <%= link_to 'Назад', issuances_path %>
    </div>
  </div>
</div>
