
<%= simple_form_for(@worker) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :surname, label: 'Фамилия' %>
    <%= f.input :patronymic, label: 'Отчество' %>
    <%= f.input :birthday, as: :string, input_html: {type: :date}, label: 'День рождения' %>
    <%= f.input :employment_day, as: :string, input_html: {type: :date}, label: 'Дата принятия на работу' %>
    <%= f.input :position, label: 'Должность' %>
    <%= f.input :education, label: 'Образование' %>
    <%= f.association :library, label: 'Библиотека' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Добавить работника' %>
  </div>

<% end %>
