<% content_for :title, "Редактирвоание работника" %>
<h1>Редактировать запись</h1>

<%= simple_form_for(@worker) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :surname, label: 'Фамилия' %>
    <%= f.input :patronymic, label: 'Отчество' %>
    <%= f.input :birthday, as: :string, input_html: {type: :date}, label: 'День рождения' %>
    <%= f.input :employment_day, as: :string, input_html: {type: :date}, label: 'Дата принятия на работу' %>
    <%= f.input :position, label: 'Должность' %>
    <%= f.input :education, label: 'Образование' %>
    <%= f.association :library, label: 'Библиотека' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить изменения' %>
  </div>

<% end %>
<br>
<%= link_to 'Назад', workers_path %>
