<% content_for :title, "Сотрудники" %>
<h1>Работники</h1>


<br>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Библиотека</h4>
        </thead>

        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag( workers_path,:class => "search-form", :method => "get") do %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, workers_path(library_id: library.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries %>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Список работников</h4>
        </thead>

        <tbody>
          <% @workers.each do |worker| %>
            <tr>
              <td><%= worker.name %> <%= worker.patronymic %> <%= worker.surname %></td>
              <td><%= link_to 'Показать', worker %></td>
              <td><%= link_to 'Редактировать', edit_worker_path(worker) %></td>
              <td><%= link_to 'Удалить', worker, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Добавить работника', new_worker_path %>
    </div>
  </div>
</div>
