
<%= simple_form_for(@subscriber) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :surname, label: 'Фамилия' %>
    <%= f.input :patronymic, label: 'Отчество' %>
    <%= f.input :address, label: 'Адрес' %>
    <%= f.input :phone_number, label: 'Номер телефона' %>
    <%= f.input :ticket_number, label: 'Номер билета' %>
    <%= f.association :library, label: 'Библиотека' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Добавить абонента' %>
  </div>

<% end %>
