
<%= simple_form_for(@subscriber) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :surname %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :ticket_number %>
    <%= f.input :library_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
