<% content_for :title, "Редактирование абонента" %>
<h1>Редактировать запись</h1>

<%= simple_form_for(@subscriber) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Имя' %>
    <%= f.input :surname, label: 'Фамилия' %>
    <%= f.input :patronymic, label: 'Отчество' %>
    <%= f.input :address, label: 'Адрес' %>
    <%= f.input :phone_number, label: 'Номер телефона' %>
    <%= f.input :ticket_number, label: 'Номер билета' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить изменения' %>
  </div>

<% end %>

<%= link_to 'Назад', subscribers_path %>
