<h1>Список абонентов</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= link_to 'Показать', subscriber %></td>
        <td><%= link_to 'Редактировать', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Удалить', subscriber, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить абонента', new_subscriber_path %>
