<% content_for :title, "Абоненты" %>

<h1>Абоненты</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Библиотека</h4>
        </thead>

        <tbody>
          <tr>
            <td class="search-wrapper">
              <%= form_tag( subscribers_path,:class => "search-form", :method => "get") do %>
                <%= text_field_tag :search, params[:search], :class => "form-control",:placeholder => "Название библиотеки" %>
                <%= submit_tag "Поиск", :name => nil,:class => "btn" %>
              <% end %>
            </td>
          </tr>
          <% @libraries.each do |library| %>
          <tr>
            <td><%= link_to library.name, subscribers_path(library_id: library.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @libraries %>
    </div>
    <div class="col-sm-8 col-sm-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4"></th>
          </tr>
          <h4>Список абонентов</h4>
        </thead>

        <tbody>
          <% @subscribers.each do |subscriber| %>
            <tr>
              <td><%= subscriber.name %> <%= subscriber.patronymic %> <%= subscriber.surname %></td>
              <td><%= link_to 'Показать', subscriber %></td>
              <td><%= link_to 'Редактировать', edit_subscriber_path(subscriber) %></td>
              <td><%= link_to 'Удалить', subscriber, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Добавить абонента', new_subscriber_path %>
    </div>
  </div>
</div>
