<h1><%= @subscriber.name%> <%= @subscriber.patronymic%> <%= @subscriber.surname%></h1>
<br>
<h4>Номер билета: <br><%= @subscriber.ticket_number%></h4>
<br>
<h4>Адрес: <br><%= @subscriber.address%></h4>
<br>
<h4>Номер телефона: <br><%= @subscriber.phone_number%></h4>
<br>
<h4>Место работы: <br><%= @subscriber.library.name%></h4>
<%= link_to 'Редактировать', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Назад', subscribers_path %>
